body{
    
    background-image: url(/src/Pages/background2.jpg);
}

.App h1{
    text-align: center;
    
    font-size: 35pt;
    font-family: 'Comfortaa', cursive;
    
    text-decoration:overline;
    
    
}